@use '../abstracts' as *;

:root {
	--ff-primary: 'Inconsolata Variable', monospace;
	--container-max-width: 45rem;

	@each $key, $value in $font-sizes {
		--fs-#{$key}: #{$value};
	}

	@each $key, $value in $font-weights {
		--fw-#{$key}: #{$value};
	}

	@each $key, $value in $colors {
		--clr-#{$key}: #{$value};
	}

	--gradient-text: linear-gradient(to right, var(--clr-primary), var(--clr-text));
}