@use '../abstracts' as *;
@use 'sass:color' as color;

.button-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.button {
	@extend %btn;
	padding: 0.75em 1.5em;
	font-weight: var(--fw-bold);
	text-decoration: none;
	border-radius: 0.5em;

	&--primary {
		color: var(--clr-dark-text);
		background-color: var(--clr-primary);
		border: 1px solid var(--clr-secondary);

		&:hover {
			$color: #f57261;
			background-color: color.adjust($color, $lightness: 5%);
		}
	}

	&--secondary {
		color: var(--clr-text);
		background-color: var(--clr-neutral-700);
		border: 1px solid var(--clr-neutral-700);
		font-weight: var(--fw-300);
		padding: 0.3em 0.7em;

		&:hover {
			$colorSecondary: hsl(245, 19%, 35%);
			background-color: color.adjust($colorSecondary, $lightness: 5%);
		}
	}

	&--full {
		width: 100%;
	}
}