.fields {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	margin: 1rem 2rem;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input {
	display: flex;
	flex-direction: column;

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		padding: 0.8em 1em;
		background-color: var(--clr-neutral-opacity-700);
		border: 1px solid var(--clr-neutral-700);
		backdrop-filter: blur(1px);
		border-radius: 0.5em;
		color: var(--clr-neutral-300);
	}

	.help-text {
		font-size: var(--fs-200);
		margin-top: 0.5rem;
		color: var(--clr-neutral-500);
	}

	&--error {
		input {
			border-color: var(--clr-primary);
		}

		.help-text {
			color: var(--clr-primary);
		}
	}
}